<div class="container">
	<div class="single">

		<div class="blog-to">


			<div class="blog-top">
				<h3 class="fast" href="#">{{article.title}}</h3>
				<p>Đăng bởi:
					<a href="#">{{article.user_name}}</a> |
					<a href="#">{{article.cate_name}}</a> |
				</p>
				<p class="sed">
					{{{article.content}}}

				</p>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
			<div class="allbar">
				<ul>
					<li>
						<a href="javascript:" id="viewcount" class="btn btn-success">
							<span class="glyphicon glyphicon-thumbs-up"></span> 100</a>
					</li>
					<li>
						<a href="javascript:" class="btn btn-default">
							<span class="glyphicon glyphicon-eye-open"></span> {{article.view}}</a>
					</li>
				</ul>
			</div>
			<div id="fb-root"></div>
						<script>(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9&appId=1093847504053808";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));</script>
			<div class="fb-like" data-href="https://techgame.herokuapp.com//tin-game/{{id}}-{{slug}}" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
			<div class="fb-comments" id="{{article.id}}" data-href="https://techgame.herokuapp.com//tin-game/{{id}}-{{slug}}" data-width="1200" data-numposts="5"></div>
			<div class="single-middle">
				

						
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/assets/dist/user/images/co.png" alt="">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="#">User 1</a>
						</h4>
						<p>20/10/2017</p>
						<p>Bài này hay quá, cám ơn Admin.</p>
					</div>
				</div>
				<div class="media">
					<div class="media-left">
						<a href="#">
							<img class="media-object" src="/assets/dist/user/images/co.png" alt="">
						</a>
					</div>
					<div class="media-body">
						<h4 class="media-heading">
							<a href="#">User</a>
						</h4>
						<p>20/10/2017</p>
						<p>Cám ơn bạn đã chia sẻ kinh nghiệm của mình, vote.</p>
					</div>
				</div>

			</div>
			<!---->
			<div class="single-bottom">
			{{#if user}}
			
				<h3>Bình luận</h3>
				<form>
					<textarea cols="77" rows="6" value=" " onfocus="this.value='';" onblur="if (this.value == '') {this.value = 'Message';}">Message</textarea>
					<input type="submit" value="Gửi bình luận">
				</form>
			{{else}}
					<a href="/login"><h3>Đăng nhập ngay để bình luận</h3></a>
			{{/if}}
			</div>			
		</div>
	</div>