
<div class="content">
	<div class="container">
		<div class="col-md-8 content-left">
			<div class="wptopleft">

				<div class="topleft" data-boxtype="homenewsposition">
					<a href="/tin-game/{{highlight.0.id}}-{{highlight.0.slug}}"><img src="/upload/thumbnail/{{highlight.0.thumbnail}}"  width="399px" height="262px"></a>
					<h2><a title="{{highlight.0.title}}" href="/tin-game/{{highlight.0.id}}-{{highlight.0.slug}}">{{highlight.0.title}}</a></h2>
				</div>
				<div class="topleft2" data-boxtype="homenewsposition">
					<a href="/tin-game/{{highlight.1.id}}-{{highlight.1.slug}}"><img src="/upload/thumbnail/{{highlight.1.thumbnail}}"  width="399px" height="163px"></a>
					<h2><a title="{{highlight.1.title}}" href="/tin-game/{{highlight.1.id}}-{{highlight.1.slug}}">{{highlight.1.title}}</a></h2>
				</div>
			</div>
			<div class="wptopright">
				<div class="topright" data-boxtype="homenewsposition">
					<a href="/tin-game/{{highlight.2.id}}-{{highlight.2.slug}}"><img src="/upload/thumbnail/{{highlight.2.thumbnail}}"  width="278px" height="262px"></a>
					<h2><a title="{{highlight.2.title}}" href="/tin-game/{{highlight.2.id}}-{{highlight.2.slug}}">{{highlight.2.title}}</a></h2>
				</div>
				<div class="topright2" data-boxtype="homenewsposition">
					<a href="/tin-game/{{highlight.3.id}}-{{highlight.3.slug}}"><img src="/upload/thumbnail/{{highlight.3.thumbnail}}"  width="278px" height="163px"></a>
					<h2><a title="{{highlight.3.title}}" href="/tin-game/{{highlight.3.id}}-{{highlight.3.slug}}">{{highlight.3.title}}</a></h2>
				</div>
			</div>
			<div class="newsupdate">
				<h2 class="top">
					<a href="javascript:">MỚI CẬP NHẬT</a>
				</h2>
				<ul id="append-load-more">
					{{#each tennewss}}
					<li class="top">
						<a href="/{{slug}}-{{id}}" title="{{title}}">
						<img alt="" src="/upload/thumbnail/{{thumbnail}}" width="310px" height="200px">
						</a>

						<h3><a title="{{title}}" href="/tin-game/{{id}}-{{slug}}">{{title}}</a></h3>
						<p>{{{summary}}}</p>
						<p class="time">
						<a href="javascript:void(0);" class="author">{{user_name}}</a>
						- 
						<a href="#" class="categame">{{cate_name}}</a>
							- {{created_at}}
						</p>
					</li>
					{{/each}}
				</ul>	
				<div class="clearfix"></div>
			</div>
			<div class="paging">
				<input type="hidden" id="page" value="{{a_count}}">
				<a href="javascript:" id="load-more" class="load-more">Xem thêm</a>
			</div>
			</div>
		{{> _right-sidebar }}
		<div class="clearfix"></div>
		
	</div>
</div>